* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./images/wallpaper.jpeg);
}
.container {
  background-color: rgb(117, 181, 241);
  border: 5px solid rgb(28, 0, 128);
  height: 400px;
  width: 800px;
  margin-top: 300px;
  margin-left: 500px;
  text-align: center;
  padding: 30px;
}
p,
#won {
  color: rgb(21, 0, 128);
  font-size: 2rem;
  padding: 10px;
}

#userInput {
  width: 400px;
  height: 40px;
  margin: 40px;
}

#submit {
  width: 10%;
  height: 40px;
}
#restart {
  width: 10%;
  height: 40px;
}
#restart:hover {
  background-color: purple;
  color: white;
}
#submit:hover {
  background-color: blue;
  color: white;
}
.result {
  margin: 0px;
}
