* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./images/wallpaper.jpeg);
}
.container {
  background-color: rgb(117, 181, 241);
  border: 5px solid rgb(28, 0, 128);
  height: 40%;
  width: 40%;
  margin-top: 18.75em;
  margin-left: 31.25em;
  text-align: center;
  padding: 1.875em;
}
p,
#won {
  color: rgb(21, 0, 128);
  font-size: 2rem;
  padding: 10px;
}

#userInput {
  width:60%;
  height: 40px;
  margin: 10px;
}

#submit {
  width: 60px;
  height: 40px;
}
#restart {
  width: 70px;
  height: 40px;
}
#restart:hover {
  background-color: purple;
  color: white;
}
#submit:hover {
  background-color: blue;
  color: white;
}
.result {
  margin: 0px;
}
@media screen and (max-width:700px){
    
    .container {
  background-color: rgb(117, 181, 241);
  border: 5px solid rgb(28, 0, 128);
  height: 400px;
  width: 500px;
  margin-top: 300px;
  margin-left: 100px;
  text-align: center;
  padding: 5px;

    }
    #userInput {
        width: 170px;
        height: 50px;
        margin: 30px;
      }
      #submit {
        width: 15%;
        height: 50px;
      }
      #restart {
        width: 15%;
        height: 50px;
      }
}